module.exports = {

  ////
  // I used this Ruby script to generate a sessionSecret:
  //     require 'active_support/all'
  //     puts SecureRandom.urlsafe_base64(64)
  ////

  sessionSecret: "",

  // Get these from Evernote developer portal.
  evernote: {
    consumerKey: "username-0000",
    consumerSecret: "abcabcabcabcabc"
  }
};
